﻿
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form method="post">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr><th class="text-center" colspan="6">待審核者清單</th></tr>
                        </thead>
                        <tr>
                            <td width=15%>讀者姓名</td>
                            <td width=15%>身分證字號</td>
                            <td width=15%>身分審核通過日期</td>
                            <td width=15%>申請日期</td>
                            <td width=15%>申請學校</td>
                            <td width=25%>備註</td>
                        </tr>
                            <tr>
                                <td><input type="submit" value="修改" name="adupdate"></td>
                                <td>@ViewBag.adname</td>
                                <td>@ViewBag.ad_account</td>
                                <td>@ViewBag.remark</td>
                                <td>@ViewBag.level</td>
                                <td>@ViewBag.level</td>
                            </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>

