﻿
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form method="post">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr><th class="text-center" colspan="5">聯盟館資料</th></tr>
                        </thead>
                        <tr>
                            <td width=20%>功能選項</td>
                            <td width=20%>管理者姓名</td>
                            <td width=20%>管理員帳號</td>
                            <td width=20%>說明</td>
                            <td width=20%>等級</td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="修改" id="adupdate" name="adupdate"></td>
                            <td>@ViewBag.adname</td>
                            <td>@ViewBag.ad_account</td>
                            <td>@ViewBag.remark</td>
                            <td>@ViewBag.level</td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
