﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CenterLB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~../Css/Library.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12"><img src="~/top_01.gif" alt="Responsive image" class="img-fluid" /></div>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">各館資料</a>
                <ul class="dropdown-menu">
                    <li><a href="https://localhost:44321/">本館資料維護</a></li>
                    <li><a href="https://localhost:44321/Library/YearDelet">年度刪除設定</a></li>
                    <li><a href="https://localhost:44321/Library/SchoolLim">聯盟關資料清單</a></li>
                    <li><a href="https://localhost:44321/Library/Mailto">Mail to聯盟館</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">館員管理</a>
                <ul class="dropdown-menu">
                    <li><a href="https://localhost:44321/AdManag/Edituser">館員資料維護</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">讀者管理</a>
                <ul class="dropdown-menu">
                    <li><a href="https://localhost:44321/UserManag/reader_check">處理新讀者</a></li>
                    <li><a href="https://localhost:44321/UserManag/reader_manage">查詢/維護讀者基本資料</a></li>
                    <li><a href="https://localhost:44321/UserManag/reader_AppList">本館讀者申請清單</a></li>
                    <li><a href="https://localhost:44321/UserManag/list_over_due">預期未領證或未至他管登入之讀者清單</a></li>
                    <li><a href="#">登錄讀者註記紀錄</a></li>
                    <li><a href="#">登錄讀者補證紀錄</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">本館對外申請管理</a>
                <ul class="dropdown-menu">
                    <li><a href="#">審核對外申請資料</a></li>
                    <li><a href="#">對外申請資料瀏覽列印</a></li>
                    <li><a href="#">讀者領證註記</a></li>
                    <li><a href="#">未通過對外申請清單</a></li>
                    <li><a href="#">刪除對外申請資料</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">外來申請管理</a>
                <ul class="dropdown-menu">
                    <li><a href="#">他校讀者使用註記</a></li>
                    <li><a href="#">外來申請者清單</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">統計資料</a>
                <ul class="dropdown-menu">
                    <li><a href="#">本館對外申請聯盟館人數現況統計(動態)</a></li>
                    <li><a href="#">本館對外申請聯盟館人數月份統計</a></li>
                    <li><a href="#">本館外來申請人數月份統計</a></li>
                    <li><a href="#">本館對外以使用聯盟館人數月份統計</a></li>
                    <li><a href="#">本館外來以使用人數月份統計</a></li>
                    <li><a href="#">聯盟館至本館借閱圖書統計</a></li>
                    <li><a href="#">本館至聯盟館借閱圖書統計</a></li>
                    <li><a href="#"><新>聯盟館治本館借閱圖書統計(查詢與報表)</a></li>
                    <li><a href="#"><新>本館至聯盟館借閱圖書統計(查詢與報表)</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">聯盟館資料專區</a>
                <ul class="dropdown-menu">
                    <li><a href="#">聯盟館章程</a></li>
                    <li><a href="#">歷年會議紀錄</a></li>
                    <li><a href="#">相關規則辦法</a></li>
                    <li><a href="#">相關表格下載</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">說明</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">登出</a></li>

        </ul>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <div class="col-sm-2"></div>
                <div class="col-sm-1"><img src="~/123.png" class="img-fluid" alt="Responsive image" /></div>
                <div class="col-sm-8">
                    <span class="style45">中部大學圖書館聯盟</span>
                    <span class="style20">//系統維護：</span>
                    <span class="style44"><a href="https://pmlis.cyut.edu.tw/lib/" target="_blank" title="朝陽科技大學圖書館">朝陽科技大學圖書館</a></span>
                    <span class="style40">最佳瀏覽模式 1024*768 / 版權所有 未經同意不得引用</span>
                </div>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
