﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
@*@ViewData["cnt"]*@
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr><th colspan="4"></th></tr>
                </thead>
                <tr>
                    <th>電子郵件</th>
                    <th>@ViewBag.email</th>
                </tr>
                <tr>
                    <th>信箱</th>
                    <th>@ViewBag.tel</th>
                </tr>
            </table>
        </div>
    </div>
</div>
