﻿
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    var Update = ViewBag.Update;
}
@model WebApplication1.Models.Update
<body>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form method="post" action ="/UserManag/test">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr><th class="text-center" colspan="1">請選擇查詢資料</th></tr>
                        </thead>
                        <tr >
                            <td class="text-center">
                                <input type="radio" name="btn-status" value="read_sch_num">依學號查詢
                                <input type="radio" name="btn-status" value="read_id_card">依身分證字號查詢
                                <input type="radio" name="btn-status" value="read_name">依姓名查詢
                                <input type="radio" name="btn-status" value="read_email">依E-mail查詢<br>
                                關鍵字:<input type="text" name="keyword" >
                            </td> 
                        </tr>
                        <tr class="table-light">
                            <td class="text-center">
                                <input type="submit" value="送出"/>
                                <input type="reset" value="清除"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>

