﻿
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr><th class="text-center" colspan="4">讀者身分審核清單</th></tr>
                    </thead>
                    <tr>
                        <td width=25%>讀者姓名</td>
                        <td width=25%>身分證字號</td>
                        <td width=25%>申請日期</td>
                        <td width=25%>備註</td>
                    </tr>
                    <tr>
                        <td>@ViewBag.reader_name</td>
                        <td>@ViewBag.reader_idnum</td>
                        <td>@ViewBag.level</td>
                        <td>@ViewBag.appdate</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

