﻿
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    var Update = ViewBag.Update;
}
@model WebApplication1.Models.Update
<body>
    關鍵字:
    <label>
        @Model.keyword
    </label>
</body>