﻿
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    var data = ViewBag.Memberdata;
    var list = ViewBag.List;
    
}
@model WebApplication1.Models.SelectModel
    <body>
        
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <h5 class="text-center">聯盟管限制人數一覽</h5>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr ><th class="text-center" colspan="4">本館資料檢視</th></tr>
                        </thead>
                        <tr>
                            <td width="189">單位名稱</td>
                            <td width="402">@Model.Sch_name</td> 
                        </tr>
                        <tr>
                            <td>業務聯絡人</td>
                            <td>@ViewBag.person</td>
                        </tr>
                        <tr>
                            <td>業務聯絡人電話</td>
                            <td>@ViewBag.tel</td>
                        </tr>
                        <tr>
                            <td>學校網頁</td>
                            <td>@ViewBag.url</td>
                        </tr>
                        <tr>
                            <td>限制申請學校個數</td>
                            <td>@ViewBag.lim</td>
                        </tr>
                        <tr>
                            <td>一般開館時間<br>(讀者第一次至本館登錄)</td>
                            <td>@ViewBag.Open</td>
                        </tr>
                        <tr>
                            <td>星期六開館時間<br>(讀者第一次至本館登錄)</td>
                            <td>@ViewBag.satOpen</td>
                        </tr>
                        <tr>
                            <td>星期日開館時間<br>(讀者第一次至本館登錄)</td>
                            <td>@ViewBag.sunOpen</td>
                        </tr>
                        <tr>
                            <td>讀者基本資料審核成功之mail內容</td>
                            <td>@ViewBag.firsucmail</td>
                        </tr>
                        <tr>
                            <td>讀者基本資料審核失敗之mail內容</td>
                            <td>@ViewBag.failmail</td>
                        </tr>
                        <tr>
                            <td>首次申請成功之mail內容</td>
                            <td>@ViewBag.firsucmail</td>
                        </tr>
                        <tr>
                            <td>再次申請成功之mail內容</td>
                            <td>@ViewBag.sucmail</td>
                        </tr>
                        <tr>
                            <td>申請失敗之mail內容</td>
                            <td>@ViewBag.failmail</td>
                        </tr>
                        <tr>
                            <td>備註</td>
                            <td>@ViewBag.mark</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </body>

