﻿
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<body>

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr><th class="text-center" colspan="4">聯盟館資料</th></tr>
                    </thead>
                    <tr>
                        <td width=50%>學校名稱</td>
                        <td width=50%>@ViewBag.name</td>
                    </tr>
                    <tr>
                        <td>開放本館申請總人數</td>
                        <td>@ViewBag.lim_num</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>

